<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/w3.css" rel="stylesheet" type="text/css">
    <title>C# to Python</title>
</head>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="" class="w3-bar-item w3-button"><b>C#</b> / <b>Python</b></a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                
                <a href="/doc" class="w3-bar-item w3-button">Documentacion</a>
                <a href="https://github.com/carlostex98/c-py" class="w3-bar-item w3-button">Github</a>
            </div>
        </div>
    </div>


    <br>


    <div class="w3-padding-48 w3-content">
        <div class="w3-card-4">
            

            <div class="w3-container">
                <br>
                <div class="w3-cell-row">
                    <div class="w3-container  w3-cell">
                      <p><a href="/usuario.pdf">Manual de usuario</a></p>
                    </div>
                    <div class="w3-container  w3-cell">
                      <p><a href="/tecnico.pdf">Manual tecnico</a></p>
                    </div>
                  </div>
                  <br>
            </div>


            
            
    
    
        </div>
    </div>
    
</body>

</html>