<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/w3.css" rel="stylesheet" type="text/css">
    <title>C# to Python</title>
</head>

<body>
    <div class="w3-top">
        <div class="w3-bar w3-white w3-wide w3-padding w3-card">
            <a href="" class="w3-bar-item w3-button"><b>C#</b> / <b>Python</b></a>
            <!-- Float links to the right. Hide them on small screens -->
            <div class="w3-right w3-hide-small">
                <a href="" class="w3-bar-item w3-button">Acerca de</a>
                <a href="" class="w3-bar-item w3-button">Documentacion</a>
                <a href="" class="w3-bar-item w3-button">Github</a>
            </div>
        </div>
    </div>


    <br>


    <div class="w3-padding-48 w3-content">
        <div class="w3-card-4">
            <div class="w3-bar w3-black">
                
                <% pp.forEach(function(token){ %>
                    <div class="w3-bar-item w3-hover-red"> <a href="/o/<%= token[0]%>"><%= token[1]%></a> </div>

                <% })%>
                <a href="/nuevo" class="w3-bar-item w3-button w3-right w3-red">Nueva pestaña</a>
            </div>
            <div class="w3-container w3-teal">
                <h2><%= tit%></h2>
            </div>

            <div class="w3-container">
                <br>
                <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-black">Abrir
                    archivo</button>

                <div id="id01" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('id01').style.display='none'"
                                class="w3-button w3-display-topright">&times;</span>
                            <h2>Selecciona el Archivo</h2>
                            <form method="post" action="/upl" encType="multipart/form-data">
                                <input name="foo" type="file" />><br>
                                <input type="submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>


            <form class="w3-container" method="POST" action="/">
                <p>
                    <label class=""><b>El codigo</b></label>

                    <textarea class="w3-input w3-border w3-light-gray" style="height: 600px;" name="texto"
                        id="texto"><%= texto%></textarea>
                </p>

                <p>
                    <button class="w3-btn w3-teal" type="submit">Compilar</button>
                </p>
            </form>
            
    
    
        </div>
    </div>
    
</body>

</html>